.kanban-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 93vh;
    background-color: #f0f2f5;
    overflow-x: auto;
}

.kanban-column {
    flex: 1;
    background-color: white;
    min-width: 300px;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
}

.kanban-column h3 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .kanban-container {
        flex-direction: column;
        height: auto;
    }
}

.kanban-column {
    min-height: 400px;
    border: 2px dashed transparent;
}

.kanban-column:hover {
    border-color: #90caf9;
}

.kanban-board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.kanban-board-header h2 {
    color: #062458;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: -1px;
}

.create-task-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}


.header-controls {
    display: flex;
    align-items: center;
    gap: 15px;
}